* {
  font-family: sans-serif;
}

p {
  font-weight: 100;
}

h1 {
  margin: 0rem;
}

h2 {
  margin: 0rem;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 4rem;
}

.page-title {
  display: flex;
  align-items: center;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

.page-header {
  margin: 0 2rem 0rem;
  font-size: 2rem;
}

.main-nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.subnav {
  display: flex;
  justify-content: space-evenly;
  border-style: solid none;
  border-color: lightgray;
  border-width: 0.07rem;
}

.subnav-button {
  text-decoration: none;
  color: inherit;
}

.subnav-button:hover {
  color: grey;
}

.read-more {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

.read-more:hover {
  color: grey;
}

.project-read-more {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
  padding: 0 2rem 0 1rem;
}

.project-read-more:hover {
  color: grey;
}

.slug-text{
  font-size: 1.5rem;
  
}
.blog-posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  border-style: none none solid;
  border-color: lightgray;
  border-width: 0.07rem;
  min-height: 20rem;
}

.details-container {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-direction: column;
  align-items: center;
  min-width: 30rem;
}

.post-meta {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.post-title {
  font-family: sans-serif;
}

.subtitle {
  margin: 0;
  font-family: serif;
  font-weight: 400;
  color: #c8c8c8;
}

.image-container {
  margin-bottom: 1rem;
}

.post-img {
  border-radius: 50%;
  height: 13rem;
}

.post-container {
  height: 100%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left-style: solid;
  border-color: lightgrey;
  border-width: 0.07rem;
}

.project-container {
  height: 100%;
  padding-left: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  border-left-style: solid;
  border-color: lightgrey;
  border-width: 0.07rem;
}

.project-post{
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 1rem;
  text-align: justify;
}

@media (max-width: 750px) {

  p{
    font-size: 1.2rem;;
  }

  .main-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
  }

  .post {
    display: grid;
    grid-template-columns: 1fr;
    border-style: none none solid;
    border-color: lightgray;
    border-width: 0.07rem;
    justify-items: center;
  }

  .details-container {
    padding: 0;
    margin-top: 2rem;
    min-width: 0;
  }

  .post-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post-img {
    height: 10rem;
    margin-top: 1.5rem
  }

  .post-container {
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left-style: none;
    border-color: lightgrey;
    border-width: 0.07rem;
  }

  .project-container {
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-left-style: none;
    border-color: lightgrey;
    border-width: 0.07rem;
  }

  
}
